@font-face {
	font-family: 'Skyscapers';
	src: url('//2ttf.com/webfont/6IF8GLA3aiM/webfont.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&family=Major+Mono+Display&display=swap');

* {
	margin: 0;
	padding: 0;
}
/* div {
	border: 1px solid red;
} */
body {
	min-height: 100vh;
}
.sub_text {
	color: rgb(0, 0, 0, 0.4);
	font-family: 'Gluten', cursive;
}
/* ! containers */
.cont {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
}
.menu {
	width: calc(100% - 17.45%);

	flex-direction: row;
	justify-content: space-between;

	padding: 3vh 0;
}
.header {
	background: rgb(240, 244, 245);
	margin: 5vh 0;
}
.body {
	width: calc(100% - 17.45%);
	min-height: 100vh;
}
.footer {
	padding: 0;
}

/* ! menu */
.burger_menu {
	display: none;
}
.nav_menu {
	flex-direction: row;
	justify-content: end;
	gap: 1vw;

	text-transform: uppercase;
	font-family: 'Skyscapers';

	font-size: 30px;
}

.nav_menu div {
	cursor: pointer;
	transition: all 0.3s linear;
	padding: 1vh 1vw;

	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_menu div:last-child {
	background: red;
	color: white;
}

.nav_menu div:last-child:hover {
	background: rgb(255, 0, 0, 0.3);
}

.nav_menu div:hover {
	transform: scale(1.1);
	background: rgb(255, 0, 0);
	color: white;
}

/* ! header */

.header_content {
	width: calc(100% - 17.45%);
	justify-content: start;
	align-items: start;

	padding: 8vh 0;
}
.header_title {
	margin: 0 0 2vh 0;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Skyscapers';
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img {
	width: 50px;
	height: 50px;
	animation: slide 1s linear;
}
.logo_text {
	font-family: 'Skyscapers';
	font-size: 22px;
}
.logo_text p {
	color: red;
}
.header_subtitle {
	font-size: 25px;
}
@keyframes slide {
	0% {
		transform: translateX(-500%) rotate(-300deg);
	}
	100% {
		transform: translateX(0) rotate(300deg);
	}
}
/* ! body */

/* * gallery */
.gallery {
	width: 100%;

	gap: 1vw;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.gallery_container {
	flex-direction: column;
}
.gallery_title {
	font-size: 30px;
}
.gallery_title b {
	color: red;
}
.gallery_title_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 5vh 0 3vh 0;
	text-transform: uppercase;
	height: auto;
	font-family: 'Skyscapers';
}

/* .gallery_row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 1vw;
} */
.gallery_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}
.gallery_item img {
	width: 100%;
}

/* * notice */

.notice_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin: 4vh 0;
	text-transform: uppercase;
}

.notice_title {
	margin: 0 0 2vh 0;
	font-family: 'Skyscapers';
}
.red_button {
	padding: 2vh 1vw;
	background: red;
	color: white;
	font-family: 'Skyscapers';
	cursor: pointer;

	transition: all 0.3s linear;
}
.red_button:hover {
	transform: scale(1.1);
	background: rgb(255, 0, 0, 0.3);
}

/* * hor_cards */

.hor_cards_container {
	margin: 5vh 0;
}

/* ?  pre title*/
.pre_title_container {
	font-size: 30px;
	width: 100%;
	display: flex;
	align-items: start;
	flex-direction: column;
	margin: 5vh 0 3vh 0;
	font-family: 'Skyscapers';
}
.pre_title {
	margin: 0 0 2vh 0;
	text-transform: uppercase;
}
.pre_title b {
	color: red;
}
/* ? */
.hor_cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	gap: 3vw;
}
.hor_card_item {
	width: 33%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hor_card_item * {
	margin: 1vh 0;
}

.hor_card_img {
	width: 100%;
	height: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hor_card_img img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.hor_card_title {
	text-transform: uppercase;
	font-family: 'Skyscapers';
}

/* & hor_cards content */

.hor_card_description {
	text-align: center;
	margin: 0 12%;
}

/* * block_cards */

.block_cards_container {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 2vh 2vw;

	flex-wrap: wrap;
}
/* .block_cards_row {
	display: flex;
	justify-content: space-between;
	align-items: start;

	flex-direction: row;
	gap: 5vw;
	width: 100%;
} */
.block_card_container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: row;

	width: 45%;
	height: 100%;
}
.block_card_content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: start;

	flex-direction: column;
}
.block_card_content * {
	margin: 1vh 0;
}
.block_card_img {
	margin: 0 3vw 0 0;
}
.block_card_img img {
	width: 100%;
}
.block_card_title {
	text-transform: uppercase;
	font-family: 'Skyscapers';
}

/* ! footer */
.footer {
	flex-direction: column;
	margin: 10vh 0 0 0;
	padding: 5vh 0;
	gap: 2vw;

	background: rgb(41, 41, 44);
	color: white;
	font-family: 'Skyscapers';
}

.footer_icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 1vw;
	padding: 1vh 0;
}
.footer_icon {
	width: 50px;
	height: 50px;
}
.footer_icon img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

/* ??? ADAPTIVE */

@media (max-width: 768px) {
	/* ! header title */
	.header_title {
		font-size: 22px;
	}

	.gallery_title {
		font-size: 20px;
	}
	.pre_title {
		font-size: 20px;
	}
	.header_subtitle,
	.sub_text {
		font-size: 14px;
	}
	/* ! gallery */
	.gallery {
		justify-content: space-between;
		margin: 0 auto;
	}
	.gallery_item {
		width: 45%;
	}
	/* ! hor_cards */

	.hor_cards {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.hor_card_item {
		width: 45%;
	}

	/* ! block_cards */

	.block_card_container {
		width: 100%;
	}
	/* ! menu */
	.menu {
		position: fixed;
		top: 0;
		width: 100%;
		height: 5%;
		padding: 3% 0;
		background: silver;

		box-shadow: 0 1vh 1vh rgb(0, 0, 0, 0.25);
	}
	.nav_menu {
		flex-direction: column;
		position: absolute;
		height: auto;
		top: 100%;

		display: inline;
		opacity: 0;
		transition: all 0.7s linear;

		transform: translateY(-200%);
	}
	.menu_show {
		opacity: 1;
		transform: translateY(0);
	}
	/* ! burger menu */
	.burger_menu {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 2vw;
		height: 100%;
		aspect-ratio: 1/1;
		cursor: pointer;
	}
	.nav_menu div {
		background: rgb(192, 192, 192);
		border-top: 1px solid rgb(0, 0, 0, 0.5);
	}
	/* ! burger btn */
	.burger_btn,
	.burger_btn::after,
	.burger_btn::before {
		display: block;
		background-color: #333;
		position: absolute;
		height: 4px;
		width: 30px;
		border-radius: 2px;
	}
	.burger_btn::before {
		content: '';
		margin-top: -8px;
	}

	.burger_btn::after {
		content: '';
		margin-top: 8px;
	}
}

@media (max-width: 576px) {
	/* ! gallery */
	.gallery_item {
		width: 100%;
	}
	/* ! hor_cards */

	.hor_card_item {
		width: 100%;
	}
	/* ! block_cards */

	.block_card_container {
		flex-wrap: wrap;
	}
	.block_card_content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
